@tailwind base;
@tailwind components;
@tailwind utilities;

.resizable-image {
  position: relative;
}

.resizable-image::after {
  content: "";
  position: absolute;
  width: 20px; /* 控制点的大小 */
  height: 20px; /* 控制点的大小 */
  background: red; /* 控制点颜色 */
  right: 0; /* 使控制点位于图片的右下角 */
  bottom: 0; /* 使控制点位于图片的右下角 */
  cursor: nwse-resize; /* 拖动图标 */
  z-index: 10; /* 确保控制点在图片上方 */
}

.resizable-image:hover::after {
  background: darkred; /* 鼠标悬停时的颜色 */
}
.toop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@layer base {
  html {
    @apply text-base; /* 預設文字大小 */
  }

  @screen sm {
    html {
      @apply text-lg; /* sm 以上 */
    }

    input[type="checkbox"],
    input[type="radio"] {
      @apply w-3 h-3;
    }
  }

  @screen md {
    html {
      @apply text-xl; /* md 以上 */
    }

    input[type="checkbox"],
    input[type="radio"] {
      @apply w-3 h-3;
    }
  }

  @screen lg {
    html {
      @apply text-2xl; /* lg 以上 */
    }

    input[type="checkbox"],
    input[type="radio"] {
      @apply w-3 h-3;
    }
  }

  @screen xl {
    html {
      @apply text-3xl; /* xl 以上 */
    }

    input[type="checkbox"],
    input[type="radio"] {
      @apply w-3 h-3;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
